<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/bootstrap/bootstrap.min.css">
    <title>Moto parts</title>
</head>
<body>
    {{{ body }}}

    <script src="scripts/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>